<footer>
   <div class="social">
      <a onclick="logDownloadButtonClick()" href="https://itunes.apple.com/us/app/outflow-subscription-manager/id975011878" target="_blank"><img src="../../assets/img/App-Store-Badge.png" alt="Download from the app store badge"/></a>
      <a onclick="logTwitterVisited()" href="https://twitter.com/outflowapp" target="_blank"><img src="../../assets/img/Twitter-Badge.png" alt="Twitter badge"/></a>
   </div>
   <p id="footer">© 2015 <a target="_blank" href="http://kirkbyo.com/">Ozzie Kirkby</p>
</footer>
