<header class="grid grid-pad" id="header">
   <div class="col-1-2" id="header-content">
      <div id="logo">
         <img src="../../assets/img/Outflow-App-Icon.png" alt="Outflow App Icon" class="app-icon"/>
         <div>
            <h1 id="app-name">Outflow</h1>
            <h2 id="slogan">Subscription manager</h2>
         </div>
      </div>
      <p>Outflow manages the complexity of reacuring subscriptions. Instantly see where your money is going.</p>
      <div id="header-buttons">
         <a id="header-download-btn" class="header-btn" href="https://itunes.apple.com/us/app/outflow-subscription-manager/id975011878">Download</a>
      </div>
   </div>
   <div class="col-1-2" id="header-row-image">
      <img src="../../assets/img/subscriptions-rows.png"/>
   </div>
</header>
