#archive {
   width: 80%;
   margin: 0 auto;
   h3 {
      font-size: 12pt;
      font-weight: 400;
   }
   ul {
      padding: 0;
   }
   ul li {
      margin: 30px 0;
      list-style: none;
   }
}

.archive-title {
   text-decoration: none;
   color: black;
   font-family: $font;
   font-size: 15pt;
   font-weight: 600;
}

.archive-post {
   text-decoration: none;
   color: black;
   font-size: 13pt;
}
