@import "_grid.scss";
@import "_header.scss";
@import "_defaults.scss";

body {
   margin: 0;
   position: relative;
   @include unselectable();
}

.col-1-4:last-child {
    margin-bottom: 40px;
}

#featured-on {
   margin: 0 auto;
   text-align: center;
   margin-top: 40px;
   margin-bottom: 40px;
}

#featured-on img {
   height: 55px;
   margin: 0 30px;
   display: inline-block;
}

#video-demo {
    text-align: center;
    h3 {
        color: #1D1D1D;
        margin: 0;
        padding-top: 30px;
        margin-bottom: 30px;
        font-size: 17pt;
        font-weight: 700;
        line-height: 0;
    }

    iframe {
         margin-bottom: 20px;
    }
}

.section-title {
   width: 100px;
   height: 30px;
   color: white;
   text-align: center;
   line-height: 30px;
   border-radius: 3px;
   background-color: #1976d2;
}

#notes {
   width: 80%;
   margin: 0 auto;
}

.note {
   width: 90%;

   h1 {
      margin-top: 40px;
      line-height: 0;

      a {
         text-decoration: none;
         color: #040707;
      }
   }

   p {
      font-size: 13pt;
   }
}

.note-text {
   text-decoration: none;
   color: black;
}

.social {
   text-align: center;

   img {
      margin-top: 50px;
      height: 40px;
   }
}

#Outflow-Screenshot {
   width: 50%;
   display: block;
   text-align: center;
   margin: 0 auto;
}

@import "_newsletter.scss";
@import "_footer.scss";
@import "_responsive.scss";
