#features {
   background-color: $theme-color;
   margin-bottom: 75px;
   width: 100%;
}

.feature-set {
   text-align: center;
   margin-top: 95px;
   display: block;

   img {
      display: block;
      margin: 0 auto;
      width: 45px;
   }
   h3 {
      font-size: 15pt;
      font-weight: 700;
      line-height: 15px;
      color: #F1F1F1;
      margin-bottom: 15px;
   }
   p {
      color: #FAFAFA;
      margin: 0;
      font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
      font-weight: 400;
      font-family: 13pt;
      width: 80%;
      margin: 0 auto;
   }
}

#features div span:last-child {
   margin-bottom: 95px;
}

#phone-demo {
   @include unselectable();
   padding: 40px;
   text-align: center;
   position: relative;

   video {
      position: absolute;
      margin-left: 15px;
      margin-top: 63px;
   }
}
