footer {
   height: 140px;
   width: 100%;
   margin-bottom: 25px;

   a {
      text-decoration: none;
      h3 {
         margin: 0;
         padding-top: 20px;
         color: white;
         font-family: 'Noto Sans', sans-serif;
         text-align: center;
      }
   }
   p {
      text-align: center;
       a {
           color: #316bff;
       }
   }
}
