header {
   margin-top: 25px;
   margin-bottom: 50px;
}

.app-icon {
   display: block;
   margin: 0 auto;
}

#app-name {
   text-align: center;
   font-size: 18pt;
}

#slogan {
   text-align: center;
   font-size: 16pt;
   margin: 0;
   line-height: 0;
   font-weight: 300;
}
