@media screen and (max-width: 767px) {
   .feature-set {
      margin-top: 35px;
   }

   #header-content {
      p {
         width: 80%;
      }
   }
   #header-row-image {
      text-align: center;
   }

   #header {
      padding-top: 25px;
      padding-bottom: 25px;
   }

   #phone-demo {
      padding: 0px;
   }

   #features div span:last-child {
      margin-bottom: 35px;
   }

}

@media screen and (max-width: 450px) {
    #launch-list {
      width: 95%;
   }

   input {
      height: 28px;
   }

   #header-row-image {
      background-image: green;
   }

   #header-row-image {
      img {
         width: 100%;
      }
   }

   #header-content {
      p {
         width: 100%;
      }
   }
}
