<!DOCTYPE html>
<html>
   <head>
      {% include head.html %}
      <link rel="stylesheet" href="{{ "/css/main.css" | prepend: site.baseurl }}">
  </head>
  <body>
    {% include header.html %}
    <section id="features">
      <!-- Used for animating background transition -->
      <div class="grid grid-pad">
         <div class="col-1-2">
            <img id="Outflow-Screenshot" src="assets/img/Outflow-Home-Screen.png" alt="Outflow App Home Screenshot"/>
         </div>
         <div class="col-1-4">
            <!-- Time Tracking -->
            <span class="feature-set">
               <img src="assets/img/Calendar-Icon.png" alt="Time Tracking Icon"/>
               <h3>Time Tracking</h3>
               <p>Keep track of how many days until it renews.</p>
            </span>
            <!-- View All -->
            <span class="feature-set">
               <img src="assets/img/Stack-Icon.png" alt="View All Icon"/>
               <h3>View All</h3>
               <p>Quickly view all your subscriptions</p>
            </span>
         </div>
         <div class="col-1-4">
            <!-- Notifications -->
            <span class="feature-set">
               <img src="assets/img/Sound-Icon.png" alt="Notification Icon"/>
               <h3>Notifications</h3>
               <p>Choose to be alerted the day of renewal or week before.</p>
            </span>

            <!-- Cash Flow -->
            <span class="feature-set">
               <img src="assets/img/Wallet-Icon.png" alt="Wallet Icon"/>
               <h3>Cash Flow</h3>
               <p>Keep track of when a company is renewing.</p>
            </span>
         </div>
      </div>
   </section>
   <section id="featured-on">
        <a href="https://www.producthunt.com/tech/outflow" target="_blank"><img src="assets/img/Product-Hunt.png" alt="Product Hunt logo"/></a>
        <a href="http://www.listhunt.co/12-incredible-new-gadgets-apps-startups-you-missed-this-weekend" target="_blank"><img src="assets/img/List-Hunt.png" alt="List Hunt Logo"/></a>
     </section>
     <section id="video-demo">
        <iframe src="https://player.vimeo.com/video/134518489?title=0&byline=0&portrait=0" width="500" height="280" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
     </section>
     <section id="notes">
        <a href="http://outflowapp.com/blog/"><p class="section-title">Notes</p></a>
        <article class="note">
           {% assign post = site.posts.first %}
           {% assign content = post.content %}
           <h1 class="entry-title">
             {% if page.title %}
             <a href="{{ root_url }}{{ page.url }}">{{ page.title }}</a>
             {% endif %}
             {% if post.title %}
             <a href="{{ root_url }}{{ post.url }}">{{ post.title }}</a>
             {% endif %}
          </h1>
          <a class="note-text" href="{{ post.url }}"><p>{{ post.excerpt }}</p></a>
        </article>
     </section>
     {% include newsletter.html %}
     {% include footer.html %}
     {% include scripts.html %}
  </body>
</html>
