<!DOCTYPE html>
<html>
   <head>
      {% include head.html %}
      <link rel="stylesheet" href="{{ "/css/main.css" | prepend: site.baseurl }}">
      <meta name="description" content="Subscription manager tool for iOS. Quickly view and take control of your recurring subscriptions in one simple place.">
      <meta name="twitter:card" content="summary" />
      <meta name="twitter:site" content="@outflowapp" />
      <meta name="twitter:title" content="Outflow" />
      <meta name="twitter:description" content="Subscription manager tool for iOS. Quickly view all your subscriptions in on simple and convenient place." />
  </head>
  <body>
    {% include header.html %}
    <section id="features">
      <div class="grid">
         <div class="col-3-12">
            <!-- Time Tracking -->
            <span class="feature-set">
               <img src="assets/img/Calendar-Icon.png" alt="Time Tracking Icon"/>
               <h3>Time Tracking</h3>
               <p>Track the days until renewal.</p>
            </span>
            <!--  Recommendations -->
            <span class="feature-set">
               <img src="assets/img/Recommendation-Icon.png" alt="Wallet Icon"/>
               <h3>Recommendations</h3>
               <p>Add subscriptions based on suggestions from your Gmail account.</p>
            </span>
         </div>
         <div class="col-6-12">
            <div id="phone-demo">
               <a target="_blank" href="https://vimeo.com/209017302?activityReferer=1">
                  <video id="outflow-home-video" width="215" height="381" autoplay muted loop>
                     <source src="assets/img/Outflow-3.0-demo.mp4" type="video/mp4">
                     <source src="assets/img/Outflow-3.0-demo.ogv">
                  </video>
                  <img src="assets/img/Outflow-Home-Screen.png" alt="Mockup of Outflow's home screen">
                  <p>Click to watch the full video</p>
               </a>
            </div>
         </div>
         <div class="col-3-12">
            <!-- Notifications -->
            <span class="feature-set">
               <img src="assets/img/Sound-Icon.png" alt="Notification Icon"/>
               <h3>Notifications</h3>
               <p>Receive an alert before the subscription renews.</p>
            </span>
            <!-- Currency Conversions -->
            <span class="feature-set">
               <img src="assets/img/Calculator-Icon.png" alt="View All Icon"/>
               <h3>Currency Conversion</h3>
               <p>Convert values to your local currency. Supports: USD, CAD, Yuan, Euro, GBP, MXN, AUD and BRL.</p>
            </span>
         </div>
      </div>
    </section>
    <section id="notes">
        <article class="note">
           {% assign post = site.posts.first %}
           {% assign content = post.content %}
           <h1 class="entry-title">
             {% if page.title %}
             <a href="{{ root_url }}{{ page.url }}">{{ page.title }}</a>
             {% endif %}
             {% if post.title %}
             <a href="{{ root_url }}{{ post.url }}">{{ post.title }}</a>
             {% endif %}
          </h1>
          <a class="note-text" href="{{ post.url }}"><p>{{ post.excerpt }}</p></a>
        </article>
        <a class="no-decoration" href="http://outflowapp.com/blog/"><p class="section-title">See all notes</p></a>
     </section>
     {% include newsletter.html %}
     {% include footer.html %}
     {% include scripts.html %}
  </body>
</html>
